microROS_bot/.vscode/extensions.json
microROS_bot/.pio/build/project.checksum
microROS_bot/.pio/build/esp32-c3-devkitm-1/.sconsign312.dblite
microROS_bot/.pio/build/esp32-c3-devkitm-1/firmware.bin
microROS_bot/.pio/build/esp32-c3-devkitm-1/firmware.elf
microROS_bot/.pio/build/esp32-c3-devkitm-1/firmware.map
microROS_bot/.pio/build/esp32-c3-devkitm-1/libFrameworkArduino.a
microROS_bot/.pio/build/esp32-c3-devkitm-1/FrameworkArduino/base64.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/FrameworkArduino/Esp.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/FrameworkArduino/firmware_msc_fat.c.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/FrameworkArduino/FunctionalInterrupt.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/FrameworkArduino/HardwareSerial.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/FrameworkArduino/HWCDC.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/FrameworkArduino/IPAddress.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/FrameworkArduino/IPv6Address.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/FrameworkArduino/main.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/FrameworkArduino/MD5Builder.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/FrameworkArduino/Print.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/FrameworkArduino/Stream.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/FrameworkArduino/StreamString.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/FrameworkArduino/Tone.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/FrameworkArduino/WString.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/lib0d0/libSPI.a
microROS_bot/.pio/build/esp32-c3-devkitm-1/lib0d0/SPI/SPI.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/lib32f/libWiFi.a
microROS_bot/.pio/build/esp32-c3-devkitm-1/lib32f/WiFi/WiFi.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/lib32f/WiFi/WiFiAP.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/lib32f/WiFi/WiFiClient.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/lib32f/WiFi/WiFiGeneric.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/lib32f/WiFi/WiFiMulti.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/lib32f/WiFi/WiFiScan.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/lib32f/WiFi/WiFiServer.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/lib32f/WiFi/WiFiSTA.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/lib32f/WiFi/WiFiUdp.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/lib3b0/libWire.a
microROS_bot/.pio/build/esp32-c3-devkitm-1/lib3b0/Wire/Wire.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/lib484/libmicro_ros_platformio.a
microROS_bot/.pio/build/esp32-c3-devkitm-1/lib484/micro_ros_platformio/platform_code/arduino/clock_gettime.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/lib484/micro_ros_platformio/platform_code/arduino/wifi/micro_ros_transport.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/lib86f/libMT6701-arduino.a
microROS_bot/.pio/build/esp32-c3-devkitm-1/lib86f/MT6701-arduino/MT6701.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/src/encoders.cpp.o
microROS_bot/.pio/build/esp32-c3-devkitm-1/src/main.cpp.d
microROS_bot/.pio/build/esp32-c3-devkitm-1/src/main.cpp.o
microROS_bot/.pio/libdeps/esp32-c3-devkitm-1/integrity.dat
microROS_bot/.vscode/c_cpp_properties.json
